:root {
	--accent-1: #22225e;
	--accent-2: #cba85e;
	--accent-3: #fb7207;
	--text-color: rgba(0, 0, 0, 0.9);
	--background: rgb(237, 241, 250);
}
* {
	box-sizing: border-box;
	/* transition: 300ms; */
	margin: 0;
	padding: 0;
}
body {
	background-color: var(--background);
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}
#card {
	margin: auto;
	height: calc(40vh + 55vw);
	width: calc(20vh + 35vw);
	border: calc(0.4vw + 0.4vh) solid var(--accent-2);
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
}
#card::after {
	content: "";
	border-top: calc(0.2vh + 0.2vw) solid var(--accent-2);
	z-index: -1;
	display: block;
	bottom: 0;
	height: calc(0.5vh + 0.5vw);
	width: inherit;
	background-color: var(--accent-1);
}
#card::before {
	content: "";
	border-bottom: calc(0.2vh + 0.2vw) solid var(--accent-2);
	z-index: -1;
	display: block;
	bottom: 0;
	height: calc(0.5vh + 0.5vw);
	width: inherit;
	background-color: var(--accent-1);
}
#mainContainer {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#headerContainer {
	display: flex;
	justify-content: center;
	font-weight: 500;
	margin: 1em 0 0 0;
}
#cardLogo {
	height: initial;
	height: 10vh;
	margin: 0 1em 0 0;
}
#headerContainer > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#headerContainer > div > p {
	text-transform: uppercase;
	text-align: center;
	font-weight: 600;
	color: var(--text-color);
}
#studentImage {
	width: calc(8vh + 8vw);
	box-shadow: 0 0 10px 10px (--accent-1);
	border-radius: 70px;
	margin: 2em 0 0 0;
}
#detailsContainer {
	flex: 1;
	display: grid;
}
#detailsContainer > table {
	margin: auto;
	border-collapse: separate;
	border-spacing: 0.3em;
	font-weight: 500;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	/* border: 1px solid red; */
}
#detailsContainer > table td {
	font-size: calc(1vh + 1.5vw);
	padding: 5px 10px;
}



@media only screen and (min-width: 768px) {
	body {
		display: flex;
		flex-direction: row;
	}
	#card {
		height: calc(45vh + 25vw);
		width: calc(20vh + 20vw);
	}
	#detailsContainer > table td {
		font-size: calc(1vh + 0.8vw);
	}
	#detailsContainer > table {
		border-spacing: 1em;
	}
}



#btnContainer {
	position: relative;
	display: flex;
	width: 100vw;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: baseline;
}
button {
	cursor: pointer;
	border: none;
	border-radius: 5em;
	margin: 0 0 6vw 0;
	padding: 1.3em;
	border: 1px solid rgba(125, 3, 255, 0.2);
	background-color: rgba(125, 3, 255, 0.1);
	color: #7d03ff;
	font-weight: 600;
	box-shadow: 0px 5px 30px rgba(125, 3, 255, 0.3);
	transition: 300ms;
}
button:hover {
	box-shadow: 0px 3px 10px rgba(125, 3, 255, 0.3);
}
button:active {
	transform: scale(0.97);
	box-shadow: 0px 0px 10px rgba(125, 3, 255, 0.224);
	background-color: rgba(125, 3, 255, 0.2);
}
@media only screen and (min-width: 600px) {
	#btnContainer {
		height: 100vh;
		position: fixed;
		flex-direction: column;
		align-items: flex-end;
	}
	#btnContainer > button {
		margin: 0 5vw;
	}
}